:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --text-link-act: #2196f3;
  --text-color-main: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --border: #ececec;
  --border-work: #eeeeee;
  --bgcolor-hero: #2f303a;
  --bgcolor-btn: #188ce8;
  --text-title: #ffffff;
  --bgcolor-team: #f5f4fa;
  --icon-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cadr-gap: 30px;
  --card-item: 4;
  --cadr-gap: 30px;
  --card-item: 4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--text-link-act);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-title);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
  display: flex;
  justify-content: center;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--bgcolor-btn);
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border: 0;
  color: var(--text-color-main);
  background-color: var(--bgcolor-team);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  border-radius: 4px;
}
.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
  color: var(--text-title);
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current:hover, .current:focus {
  color: #ffffff;
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--cadr-gap)) / var(--card-item));
}

.send {
  display: flex;
  gap: 12px;
}

.send-input {
  width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: 0;
}

.send-btn {
  padding: 10px 28px;
  gap: 10px;
  fill: currentColor;
}

.reqister-form-group {
  margin-bottom: 20px;
}

.reqister-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color-main);
}

.reqister-form {
  display: flex;
  flex-direction: column;
}

.reqister-form-input {
  width: 100%;
  padding: 11px 42px;
  fill: var(--text-color-main);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--transition);
}
.reqister-form-input {
  height: 40px;
}

.reqister-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  fill: var(--text-color-main);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--transition);
  resize: none;
}

.reqister-form-input:focus,
.reqister-form-message:focus,
.reqister-form-input:hover,
.reqister-form-message:hover {
  border: 1px solid var(--text-link-act);
}

.reqister-form-label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.reqister-form-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.reqister-form-wrap:last-child {
  margin-bottom: 0;
}

.position-icon {
  position: relative;
}

.reqister-form-input:focus + .reqister-form-icon,
.reqister-form-input:hover + .reqister-form-icon {
  fill: var(--text-link-act);
}

.reqister-form-icon {
  transition: fill var(--transition);
}

.reqister-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.reqister-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}

.reqister-checkbox:hover + .reqister-check .reqister-form-uncheck,
.reqister-checkbox:focus + .reqister-check .reqister-form-uncheck {
  fill: var(--text-link-act);
}

.reqister-checkbox:checked + .reqister-check .reqister-form-check {
  opacity: 1;
}

.reqister-checkbox:checked + .reqister-check .reqister-form-uncheck {
  opacity: 0;
}

.checkbox-text {
  user-select: none;
}

.checkbox-link {
  color: var(--text-link-act);
  text-underline-position: under;
}

.reqister-form-check {
  opacity: 0;
  transition: opacity var(--transition);
}

.reqister-form-uncheck {
  transition: fill var(--transition);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: rotate(45deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  background-color: var(--text-title);
  border-radius: 4px;
  opacity: 1;
  padding: 40px;
  transition: transform var(--transition), opacity var(--transition);
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--text-link-act);
}

.overlay-text {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-title);
  padding: 63px 24px;
  line-height: 28px;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.social {
  margin: 0;
  margin-left: 0;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    flex-wrap: nowrap;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--text-title);
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color var(--transition), fill var(--transition);
}
.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--text-link-act);
  fill: var(--text-title);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 2;
    padding: 32px 40px;
  }
  .mobile__nav-list {
    padding: 0;
  }
  .open-mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    z-index: 3;
    fill: #212121;
  }
  .mobile-menu__container {
    padding: 0;
  }
  .mobile-menu__close-btn {
    margin: 21px 25px 0 0;
    position: fixed;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    margin-right: auto;
  }
  .open-mobile-menu.is-open .mobile-menu__btn {
    display: none;
  }
  .mobile-menu__close-btn {
    display: none;
  }
  .open-mobile-menu.is-open .mobile-menu__close-btn {
    display: block;
  }
  .mobile__nav-link {
    font: Roboto;
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mobile-menu__container {
    position: relative;
  }
}
.mobile__contacts {
  margin-bottom: 48px;
  padding: 0;
}

.mobile__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196F3;
  letter-spacing: 0.02em;
  padding-right: 10px;
  list-style: none;
}
.mobile__social-item:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__contacts-item {
  padding: 16px 0;
  list-style: none;
}

.mobile__nav-item {
  padding: 16px 0;
  list-style: none;
}

.mobile__nav-link.phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile__nav-link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    width: 480px;
    height: 60px;
    left: 0px;
    top: 0px;
  }
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-link-act);
}
.logo-header {
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--text-link-act);
  fill: var(--text-link-act);
}
@media screen and (max-width: 769px) {
  .contacts__link {
    display: none;
  }
}

.contact__item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact__item {
    display: flex;
  }
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border);
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.about {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  color: var(--text-color-main);
  letter-spacing: 0.03em;
}

.about__list {
  display: flex;
  gap: 30px;
}

.card-item {
  position: relative;
}

.about__title {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--text-title);
  text-align: center;
}

.team {
  background-color: var(--bgcolor-team);
}

.team__wrapper {
  padding: 30px 0;
}

.card-set {
  margin: 0;
  margin-left: 0;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    flex-wrap: nowrap;
  }
}

.team__name {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--text-color-main);
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__card {
  background-color: var(--text-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .social {
  margin-top: 16px;
  margin-bottom: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__address {
  margin-right: 70px;
}
.footer__box {
  display: flex;
  align-items: baseline;
}

.footer__icon {
  fill: var(--text-title);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-title);
  margin-bottom: 20px;
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--text-link-act);
  fill: var(--text-link-act);
}

.footer__content:last-child {
  margin-left: auto;
}

.logo-footer {
  color: var(--text-title);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  color: var(--text-color-main);
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
}
.nav__link:hover, .nav__link:focus {
  color: var(--text-link-act);
  fill: var(--text-link-act);
}

.active {
  position: relative;
  color: var(--text-link-act);
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-link-act);
  border-radius: 2px;
}

.description__container.container {
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .description__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.description__item {
  padding: 15px;
}
@media screen and (max-width: 1199px) {
  .description__item {
    flex-basis: 50%;
  }
}

.description__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bgcolor-team);
  border-radius: 4px;
}

.description__item {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}
@media screen and (min-width: 767px) {
  .description__item {
    text-align: left;
  }
}

.header__list {
  display: none;
}

.header_contacts {
  display: none;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--text-link-act);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-title);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
  display: flex;
  justify-content: center;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--bgcolor-btn);
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border: 0;
  color: var(--text-color-main);
  background-color: var(--bgcolor-team);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  border-radius: 4px;
}
.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
  color: var(--text-title);
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current:hover, .current:focus {
  color: #ffffff;
  background-color: var(--text-link-act);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-size: 1600px 600px;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_desktop@1x.jpg);
  background-color: var(--bgcolor-hero);
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 60px;
    max-width: 480px;
    background-size: 480px 400px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_mobile@2x.jpg);
    background-color: var(--bgcolor-hero);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 204px;
    width: 768px;
    height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_tablet@1x.jpg);
    background-color: var(--bgcolor-hero);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    padding: 200px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero_desktop@2x.jpg);
  }
}

.hero__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-title);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero-btn {
  display: flex;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--transition);
}
.client__link:hover, .client__link:focus {
  color: var(--text-link-act);
}

.client__icon {
  fill: currentColor;
}

.client__list {
  --card-item: 6;
}

.portfolio__list {
  --card-item: 3;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .overlay-text,
.portfolio__link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-color-main);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__block {
  border: 1px solid var(--border-work);
  padding: 20px 24px;
}/*# sourceMappingURL=main.css.map */