.footer__box {
    @media screen and (min-width: 760px) {
    display: flex;
    text-align: center;
    }
}
.footer__address {
    @media screen and (min-width: 760px) {
        margin-right: 70px;
        
    }
   
}



.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

    // &__address {
    //     margin-right: 70px;
    // }

    &__box {
        
        align-items: baseline;
    }
}

.footer__icon {
    fill: var(--text-title);

}

.footer__title {
@media screen and (max-width: 769px) {
        text-align: center;
        margin-top: 60px;
    }

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-title);
    margin-bottom: 20px;
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--text-link-act);
    fill: var(--text-link-act);
}

.footer__content:last-child {
    margin-left: auto;
}

.logo-footer {
    color: var(--text-title);
}


.footer .logo {

    @media screen and (max-width: 769px) {
            text-align: center;
        }
    display: block;
    margin-bottom: 20px;
}
