.address {
    font-style: inherit;
    color: rgba(255, 255, 255, 0.6);

    &-list {
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    &-link[target='_blank'] {
           color: var(--text-title);
                }
        
    &-link {
            transition: color var(--transition);
                }
        
    &-link:hover,
    &-link:focus {
            color: var(--text-link-act);
            fill: var(--text-link-act);
                }
}
