@media screen and (max-width: 767px) {
    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
         }
  
         
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    margin-right: auto;
}

.open-mobile-menu.is-open .mobile-menu__btn {
        display: none;

    }

.mobile-menu__close-btn {
        display: none;
    }

.open-mobile-menu.is-open .mobile-menu__close-btn {
        display: block;
    }

.mobile__nav-link {
    color:#212121;;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}
.mobile-menu__container {
    position: relative;
    padding-left: 40px;
}

.mobile__social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: $accient-color;
    letter-spacing: 0.02em;

    padding-right: 10px;
}

@media screen and (min-width: 768px) {
    .mobile__menu {
        display: none;
    }
}
}